[tool.poetry]
name = "sydney-py"
version = "0.17.1"
description = "Python Client for Bing Chat, also known as Sydney."
authors = ["vsakkas <vasileios.sakkas96@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "sydney" }]

[tool.poetry.dependencies]
python = "^3.9"
aiohttp = "^3.8.5"
websockets = "^11.0.3"

[tool.poetry.group.dev.dependencies]
black = "^23.7.0"
mypy = "^1.5.1"
pytest = "^7.4.0"
pytest-asyncio = "^0.21.1"
pytest-cov = "^4.1.0"
thefuzz = { extras = ["speedup"], version = "^0.19.0" }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
